* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    /* background: #1e1e1e; */
    background: #242424;
    font-family: Arial;
}

#hat {
    backdrop-filter: blur(10px);
    position: fixed;
    top: 1%;
    left: 2%;
    width: 96%;
    height: 10%;

    /* margin: 0 auto; */
    z-index: 1000;
    /* background: white; */
    background: rgba(230,230,230,0.4);
    border-radius: 20px;
    opacity: 20;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    /* display: inline-block; */
    height: 80%;
    width: 30%;

    /* max-width: 10vw; */
    /* padding: 0.5vw; */
    margin-left: 0.5vw;
    margin-right: auto; /* Занимает все место справа */
    transition-duration: 0.25s;
    background-image: url(img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.logo:hover {
    transform: scale(1.02);
}

.menu {
    font-size: clamp(8px, 2vw, 20px);
    color: #000;
    text-decoration: none;
    padding: 0 1vw 0 1vw;
    font-weight: bold;
    /* font-size: clamp(8px, 20px); */
    transition-duration: 0.25s;
}
.menu:hover {
    color: #ececec;
    transform: scale(1.03);
}

#mainPic {
    display: block;
    width: 100%;
}

#helloScreen {
    position: relative;
    
}

.helloScreenTextDiv {
    color: #ececec;
    top: 20vw;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    align-items: center;
}
/* #helloScreenTextDiv2 {
    top: 36%;
} */

#helloScreenText {
    font-size: clamp(20px, 4vw, 48px);
    margin-left: 25%;
    font-weight: bold;
    text-shadow: 0 0 15px black;
    /* font-size: clamp(16px, 2vw 40px); */
    /* font-size: clamp(16px, 20vw 50px); */
    /* font-size: 3rem; */
    /* font-size: 50px; */
    transition-duration: 0.25s;
}
#helloScreenText:hover {
    /* transform: scale(1.005); */
}
#helloScreenText2 {
    font-size: clamp(8px, 2vw, 22px);
    font-weight: bold;
    text-shadow: 0 0 4px black;
    /* font-size: 22px; */
    text-align: center;
    transition-duration: 0.25s;
}

/* .wrapper {
    display: flex;

    justify-content: flex-start;
} */
.swiper {
    background-color: #252525;
    margin-left: 0;
    margin-right: auto;
    width: 35%;
    height: 35%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.block2 {
    
    /* display: block; */
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.block2MainText {
    
    /* margin-left: 25%; */
    background-color: #202224;
    flex: 1;
    width: 30%;

    /* justify-content: center; */
    align-items: center;
    display: flex;
    justify-content: center; /* по горизонтали */
    align-items: center;     /* по вертикали */
}

.labelBlock2 {
    font-size: 30px;
    color: #ececec;
    font-weight: bold;
    font-family: sans-serif;
}

.textInSwiper {
    color: #ececec;
    padding: 20px 0 30px 40px;
}

@media (max-width: 768px) {
    .block2 {
        display: block;
        flex-direction: column;
    }
    .swiper {
        width: 100%;
    }
}

/* .card {
    width: 300px;
    padding: 20px;
    flex-direction: row;
    background: white;
    border-radius: 20px;
}

button {
    background: black;
    color: white;
    border: none;
    padding: 10% 15%;
    border-radius: 5px;
    transition: 0.1s;
}

button:hover {
    background: yellow;
    translate: scale(3);
}

/* @keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(200px);
    }
}

button {
    animation: move 2s infinite;
} */  